PORT=8080
DB_URL=jdbc:mysql://localhost:3306/netflix_news?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=LocalDevelopmentOnlyJwtSecretKeyForNetflixNewsSystemChangeMe
JWT_EXPIRATION_MS=86400000
